* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

#loader {
  position: absolute;
  background-image: url("load.gif");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center center;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.logo img {
  width: 150px;
  margin: 20px 0px;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.section-1 {
  height: 100vh;
  background-image: url("sky.jpg");
  background-blend-mode: color-dodge;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-bottom: 3px solid rgba(68, 158, 243, 0.397);
}

.section-1a {
  background-image: linear-gradient(
      to top,
      rgba(2, 16, 80, 0),
      rgba(0, 0, 0, 0)
    ),
    url("skyblue.webp");
  background-blend-mode: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.section-1 ul {
  display: flex;
  margin-right: 20px;
}

li {
  margin: 20px 20px;
  list-style: none;
  text-align: center;
}

.nav li {
  margin-top: 20px;
}

li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.2s ease;
}

li a:hover {
  color: rgb(87, 148, 255);
  transition: all 0.4s ease;
}
.center-text {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.7rem;
  margin-top: 100px;
  font-family: "Merriweather", sans-serif;
}

.center-text p {
  color: rgb(239, 0, 0);
}

.btn {
  display: none;
}

.pic {
  background-image: url("pic.jpg");
  border-radius: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgb(238, 7, 7);
  width: 100px;
  height: 100px;
  background-position: center center;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.9rem;
  color: rgb(235, 23, 8);
  animation: navimaton 3s infinite ease;
}

#switch {
  width: 51px;
  height: 31px;
  color: white;
  border-radius: 15.5px;
  background-color: #1381ff;
  padding: 3px;
  margin: auto;
}
.on {
  width: 27px;
  height: 30px;
  border-radius: 100%;
  background-image: url("day.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.off {
  width: 27px;
  height: 30px;
  border-radius: 100%;
  transform: translateX(23px);
  background-image: url("night.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-section {
  padding: 0px 5px;
  display: flex;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.about-container .about {
  font-size: 1.9rem;
  color: rgb(255, 62, 62);
  font-family: "Merriweather", sans-serif;
}

#about {
  display: none;
}

.uni {
  text-decoration: none;

  color: rgb(42, 124, 255);
}

.prog {
  color: rgb(255, 83, 83);
  text-decoration: none;
}

.about-container {
  padding-right: 5px;
  width: 60%;
  margin: 20px 0px;
  font-family: "Merriweather", sans-serif;
}

.hobby-container {
  background: url("avento.gif");
  background-position: center center;
  background-size: cover;
  width: 50%;
  height: 250px;
  margin: 40px 0px 40px 50px;
}

.section-2 {
  background-color: rgb(241, 250, 255);
  padding: 0px 200px;
  display: flex;
  flex-direction: column;
}
.project-section {
  margin-top: 50px;
}

.project-h1 {
  text-align: center;
  color: rgb(255, 48, 48);
  margin-bottom: 50px;
  font-family: "Merriweather", sans-serif;
}

.project-h1::after,
.project-h1::before {
  display: inline-block;
  content: "";
  border-top: 4px solid rgb(3, 154, 255);
  width: 4rem;
  margin: 0 0.6rem;
  transform: translateY(-0.5rem);
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.project {
  height: 300px;
  border-radius: 10px;
  position: relative;
  border: 2px solid rgb(141, 0, 0);
  margin-bottom: 50px;
}
.pro1 {
  background: url("pro.png");
  background-position: center;
  background-size: cover;
}

.pro2 {
  background: url("pro2.png");
  background-position: center center;
  background-size: cover;
}

.pro3 {
  background: url("weath.jpg");
  background-position: center center;
  background-size: cover;
}

.effect {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.project:hover .effect {
  height: 0%;
  transition: all 0.5s ease;
}

.project h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
}

.project:hover.project h1 {
  display: none;
}

/*h1 for skill*/

/*Editing tags  around the skills*/
.displace {
  position: absolute;
  color: rgb(0, 60, 255);
  font-size: 120%;
  opacity: 0.3;
}

.tag {
  top: 260px;
  left: 1800px;
  animation: skillmove 8s ease infinite;
}
.symbols {
  top: 290px;
  left: 1500px;
  font-size: 170%;
  animation: skillmove 6.9s ease infinite;
}

.code {
  top: 270px;
  left: 1200px;
  animation: skillmove 7.6s ease infinite;
}

.script {
  top: 200px;
  left: 1000px;
  animation: skillmove 8.5s ease infinite;
}

.file {
  top: 200px;
  left: 700px;
  animation: skillmove 7.5s ease infinite;
}

.link {
  top: 230px;
  left: 400px;
  animation: skillmove1 7.3s ease infinite;
}

.nodejs {
  top: 280px;
  left: 100px;
  color: rgb(255, 0, 0);
  font-size: 140%;
  animation: skillmove 6.5s ease infinite;
}
/*SECOND TAGS ANIMA*/
.tag1 {
  top: 760px;
  left: 1800px;
  animation: skillmove 8s ease infinite;
}
.symbols1 {
  top: 790px;
  left: 1200px;
  font-size: 170%;
  animation: skillmove 6.9s ease infinite;
}

.code1 {
  top: 770px;
  left: 1500px;
  animation: skillmove 7.6s ease infinite;
}

.script1 {
  top: 700px;
  left: 700px;
  animation: skillmove 8.5s ease infinite;
}

.file1 {
  top: 700px;
  left: 1000px;
  animation: skillmove 7.5s ease infinite;
}

.link1 {
  top: 730px;
  left: 400px;
  animation: skillmove1 7.3s ease infinite;
}

.nodejs1 {
  top: 720px;
  left: 100px;
  color: rgb(255, 0, 0);
  font-size: 140%;
  animation: skillmove 6.5s ease infinite;
}

.section-4 {
  background-image: url("call.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-top: 3px solid rgba(68, 158, 243, 0.397);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  padding: 50px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.226);
}

#contact {
  display: none;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 35em;
  height: 3rem;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 0px 10px;
  font-size: 15px;
}

textarea {
  width: 35em;
  height: 8rem;
  margin: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 0px 10px;
  font-size: 15px;
}

::placeholder {
  color: rgb(0, 40, 92);
}

.submitBtn {
  text-align: center;
  width: 9rem;
  height: 3rem;
  border-radius: 15px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255, 22, 22, 0.905);
  color: white;
  transition: all 0.4s ease;
}

.submitBtn:hover {
  background-color: #1381ff;
  transition: all 0.4s ease;
}

.links-icon a:hover {
  color: #1381ff;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.h2 {
  margin-top: 30px;
  color: #1381ff;
  font-size: 30px;
  font-weight: bolder;
}

.links-icon a {
  margin: 0px 10px;
  border-radius: 50%;
  background-color: #e6eef1;
  padding: 0px 5px 0px 5px;
}

.links-icon {
  font-size: 120%;
  transition: all 0.4s ease;
}
/********************************MEDIA QUERY FOR 700PX **************************************************/
@media screen and (max-width: 700px) {
  #loader {
    background-size: 50%;
  }

  .logo img {
    width: 120px;
  }
  .section-1 .nav-ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
  }
  .center-text {
    font-size: 1rem;
  }

  .center-text p {
    font-size: 1.2rem;
  }

  .arrow {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  li {
    margin: 10px 0px;
  }

  .nav-menu a {
    font-size: 2rem;
    font-family: bold;
    margin: 0%;
    z-index: 1;
    color: rgb(255, 0, 0);
  }

  .navli {
    animation: navimaton 0.3s ease;
    font-size: 4rem;
    position: fixed;
    display: block;
    width: 100%;
    padding-right: 70px;
    background-color: #ffffff;
    z-index: 1;
    height: 100vh;
  }

  .btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.7rem;
    color: rgba(250, 6, 6, 0.8);
    z-index: 2;
  }

  #switch {
    top: 25%;
    right: 13px;
  }

  /*ICONS ANIMATIONS*/
  .tag {
    top: 160px;
    left: 10px;
    animation: skillmove 8s ease infinite;
  }
  .symbols {
    top: 290px;
    left: 240px;
    font-size: 170%;
    animation: skillmove 6.9s ease infinite;
  }

  .code {
    top: 70px;
    left: 350px;
    animation: skillmove 7.6s ease infinite;
  }

  .script {
    top: 500px;
    left: 100px;
    animation: skillmove 4.5s ease infinite;
  }

  .file {
    top: 400px;
    left: 300px;
    animation: skillmove 7.5s ease infinite;
  }

  .section-2 {
    padding: 0px;
  }

  .about-section {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 40px 40px 0px 40px;
  }

  .about-container {
    width: 100%;
    margin: 0px 10px;
  }

  .hobby-container {
    margin: 0px;
    margin-top: 0px;
    padding: 0px 10px;
    width: 100%;
    height: 300px;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 15px;
    place-items: center;
  }
  .project-section {
    margin-top: 0px;
  }
  .project-h1 {
    margin: 0px;
  }

  .project {
    margin-bottom: 20px;
    border: 2px solid rgb(141, 0, 0);
    width: 350px;
  }
  .contact-container {
    width: 120%;
  }

  input {
    width: 16rem;
  }

  textarea {
    width: 16rem;
  }
}

@media (max-height: 667px) {
  #switch {
    position: absolute;
    top: 600px;
  }
}

@keyframes navimaton {
  0% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes skillmove {
  0% {
    transform: translatey(0px);
    opacity: 0.5;
    color: #1381ff;
  }

  50% {
    transform: translatey(-40px);
    opacity: 0.5;
    color: #ff2916;
  }

  100% {
    transform: translatey(0px);
    opacity: 0.5;
    color: #1381ff;
  }
}

/* animation two*/
